@import "tailwindcss";

@theme {
  /* Tambahkan ini agar DM Sans menjadi font default utama */
  --font-sans: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;

  /* Colors Guideline */
  --color-primary: #017EC1;
  --color-primary-active: #0165A0;
  --color-secondary: #B3D9F2;
  --color-background: #E6F4FB;
  --color-disabled: #9CA3AF;
  --color-textMain: #4A5565;
  --color-heading: #000000;
  --color-success: #16A34A;
  --color-error: #DC2626;
  --color-warning: #D97706;

  /* Typography Guideline */
  --font-size-title: 32px;
  --font-size-title--line-height: 38px;
  --font-size-heading: 24px;
  --font-size-heading--line-height: 31px;
  --font-size-body: 16px;
  --font-size-body--line-height: 24px;
  --font-size-tiny: 12px;
  --font-size-tiny--line-height: 17px;
}

body {
  /* Gunakan font-family dari tema yang sudah kita set */
  font-family: var(--font-sans);
  background-color: #E6F4FB;
  color: #4A5565;
}